<h1>All of the Movies</h1>

<ul>
  <% @movies.each do |movie| %>
  <%= link_to movie_path(movie) do %>
  <li>
    <%= movie.title %>
  </li>
  <% end %>

  <% end %>
</ul>

<%= link_to "New Movie", new_movie_path %>
